<h2>All About <%= @pizza.pizza_name.titleize %>:</h2><br/>


<p><strong>Price: </strong>$<%= @pizza.price %> </p>
<p><strong>Came from: </strong><%= @pizza.origin %> </p>
<p><strong>Description: </strong><%= @pizza.description %> </p>
<p><strong>Notes: </strong><%= @pizza.notes %> </p>

<br/>
<% if Helpers.current_user(session) == @pizza.user %>
    <a href="/pizzas/<%= @pizza.id %>/edit">Edit This Pizza!</a>
<% end %>